<div [attr.data-bs-theme]="isDarkTheme ? 'dark' : 'light'">
  <nav class="navbar navbar-expand-lg">
    <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsangha" aria-controls="navbarsangha" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="container-fluid" id="navbarsangha">
      <ul class="navbar-nav mx-auto z_navbar_sangha">
        <li class="nav-item active">
          <a class="nav-link" href="#">Lineage</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Teachings</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link">Books</a>
        </li>
      </ul>
    </div>
  </nav>

  <p>sangha content</p>
</div>